Package: com.sticktron.ahahah-sample-theme
Name: Ah!Ah!Ah! Sample Theme
Version: 1.0
Architecture: iphoneos-arm
Depends: com.sticktron.ahahah
Description: This is an example of a user-created theme package for for Ah!Ah!Ah!
Author: Sticktron <sticktron@hotmail.com>
Maintainer: Sticktron
Section: Addons (Ah!Ah!Ah!)
